
<!-- 

<div class="row">
<div class="col-md-4"> -->
<div class="container code_container">
	<div class="row code_container_row">
		<div class="col-md-12 toolbar">
			<div class="pull-left code-title">{{ title }}</div>
			<input type="text" ng-model="selected" placeholder="Language" data-typeahead="language for language in languages | filter:$viewValue | limitTo:8" data-typeahead-on-select="languageChanged()" 
			class="form-control language-input pull-right">
		</div>
		<div id="editor" class="col-md-12" data-live-edit="title"></div>
	</div>
</div>
<!-- <div class="title"> {{ title}}</div> -->


<!-- 
</div>


</div>
 -->





