<div class="modal-header">
        <button type="button" class="close" data-ng-click="dismiss()" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Github login</h3>
</div>
<div class="modal-body github-login">
	<input type="text" class="form-control username" data-ng-model="user.name" placeholder="Username">
	<input type="password" class="form-control password" data-ng-model="user.pass" placeholder="Password">	
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-ng-click="dismiss()">Close</button>
	<button type="button" class="btn btn-primary" data-ng-click="login()">Login</button>
</div>